
.highlight-day{
    span{    
        color: black !important;
    }
}

.image-date{
    visibility: hidden;
    position: relative;
}
.image-date .mat-calendar-body-cell-content::after{
    content: '🎂';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 24px;
    height: 24px;
    visibility: visible;
}

.mat-calendar-body-label{
    visibility: hidden;
}